{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load utils %}

<div class="dashboard">
	<div id="current">
		<h2>Current Question</h2>{% if question %}
		{% question_full question %}{% else %}
		<div class="no-current">
			No question is currently active.
		</div>{% endif %}
	</div>
	
	<div id="answers">
		<h2>Answers</h2>{% if question %}{% if entries %}
		<ul>{% for entry in entries %}
			<li>
				<span>{{ entry.meta_data }}</span>
				<p>{{ entry.text }}</p>
			</li>{% endfor %}
		</ul>{% else %}
		<div class="no-entries">
			No responses yet.
		</div>{% endif %}{% else %}
		<div class="no-entries">
			No question is currently active.
		</div>{% endif %}
	</div>
	
	<div id="previous">
		<h2>Previous Questions</h2>
		<div class="scroll-box">{% if previous %}{% for q in previous %}{% if forloop.first %}
			<div class="summaries num-{{ forloop.revcounter }}">{% endif %}
				<div class="q-wrap {% if forloop.last %} last{% endif %}">
					{% question_summary q %}
				</div>{% if forloop.last %}
			</div>{% endif %}{% endfor %}{% else %}
			<div class="no-summaries">
				This box will be useful once you
				<a href="/add">Add a Question</a>.
			</div>{% endif %}
		</div>
	</div>
</div>
{% endblock %}

