{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
{% load utils %}

<div class="dashboard">
	<div id="current">
		<h2>Current Question</h2>{% if question %}
		{% question_full question %}{% else %}
		<div class="no-current">
			No question is currently active.
		</div>{% endif %}
	</div>
	
	<div id="answers">
		<h2>Answers</h2>{% if question %}{% if entries %}
		<ul>{% for entry in entries %}
			<li{% if not entry.moderated %} class="unmoderated"{% endif %} id="ent-{{ entry.pk }}">
				<span>{{ entry.meta_data }}</span>
				<p>{{ entry.text }}</p>
			</li>{% endfor %}
		</ul>{% else %}
		<div class="no-entries">
			No responses yet.
		</div>{% endif %}{% else %}
		<div class="no-entries">
			No question is currently active.
		</div>{% endif %}
		<script type="text/javascript">
			window.addEvent("domready", function() {
				var moderate = function() {
					var parent = this.getParent();
					var pk = parent.id.replace(/\D/g, "");
					var status = this.hasClass("mod-win") ? "win" : "fail";
					
					/* submit the moderation via ajax */
					new Request({
						"url": ("/moderate/" + pk + "/" + status),
						"onSuccess": function() {
							
							/* accept the entry by removing the
							 * WARNING highlight and mod buttons */
							if (status=="win") {
								parent.removeClass("unmoderated");
								parent.getElements("div").dispose();
							
							/* failed moderation, so remove
							 * the element from view */
							} else parent.dispose();
						}
					}).send();
				};
				
				$$("#answers li.unmoderated").each(function(el) {
					var meta = el.getFirst();
					
					new Element("div", {
						"class": "mod-fail",
						"title": "Reject this answer",
						"events": { "click": moderate }
					}).inject(meta, "after");
					
					new Element("div", {
						"class": "mod-win",
						"title": "Accept this answer",
						"events": { "click": moderate }
					}).inject(meta, "after");
				});
			});
		</script>
	</div>
	
	<div id="previous">
		<h2>Previous Questions</h2>
		<div class="scroll-box">{% if previous %}{% for q in previous %}{% if forloop.first %}
			<div class="summaries num-{{ forloop.revcounter }}">{% endif %}
				<div class="q-wrap {% if forloop.last %} last{% endif %}{% if question %}{% ifequal q.pk question.pk %} active{% endifequal %}{% endif %}">
					{% question_summary q %}
				</div>{% if forloop.last %}
			</div>
			<script type="text/javascript">
				
				/* if a question summary is "active" (ie, it has
				 * been clicked on already), scroll it into view */
				window.addEvent("domready", function() {
					$$("#previous .active").each(function(el) {
						var scroller = el.getParent(".scroll-box");
						var pos = el.getPosition(scroller);
						scroller.scrollTo((pos.x - 5), 0);
					});
				});
			</script>{% endif %}{% endfor %}{% else %}
			<div class="no-summaries">
				This box will be useful once you
				<a href="/add">Add a Question</a>.
			</div>{% endif %}
		</div>
	</div>
</div>
{% endblock %}

